header {}
header #gnb {
    max-width:1720px;
    margin:0 auto;
    padding-top:10px;
}
header #gnb .top_menu {}
header #gnb .top_menu ul {
    display:flex; flex-flow:row nowrap; gap:20px;
    justify-content:end;
}
header #gnb .top_menu ul li {}
header #gnb .top_menu ul li a {}
header #gnb .buttom_menu {
    display:flex; flex-flow:row nowrap; justify-content:space-between; align-items:center;
    padding:10px 0;
    font-size:0.75rem;
}
header #gnb .buttom_menu #logo {}
header #gnb .buttom_menu #logo h1 {}
header #gnb .buttom_menu #logo h1 a {}
header #gnb .buttom_menu #logo h1 a img {display:block;}
header #gnb .buttom_menu .right_menu {}
header #gnb .buttom_menu .right_menu ul {
    display:flex; flex-flow:row nowrap; gap:20px;
}
header #gnb .buttom_menu .right_menu ul li {}
header #gnb .buttom_menu .right_menu ul li a {}
header #gnb .buttom_menu .right_menu ul li a img {display:block;}
header #lnb {
    max-width:1720px;
    margin:0 auto;
    display:flex; flex-flow:row nowrap; justify-content:space-between; align-items:center;
}
header #lnb .category {}
header #lnb .category > ul {display:flex; align-items:center; gap:30px;}
header #lnb .category ul .more_btn {}
header #lnb .category ul > li {}
header #lnb .category ul > li:first-child { /* depth의 기준 설정 */
    position:relative;
}
header #lnb .category ul > li:nth-child(2) {}
header #lnb .category ul > li button {display:block; font-weight:500;}
header #lnb .category ul > li button img {display:block;}
/* 숨어있는 메뉴 */
header #lnb .category ul > li .cate_menu_hidden {
    position:absolute; top:40px; left:0;
    z-index:999;
    background:#000;
    width:max-content;
    padding:30px;
    display:none;
}
header #lnb .category ul > li .cate_menu_hidden .depth {
    display:flex; flex-flow:row nowrap; gap:100px;
}
header #lnb .category ul > li .cate_menu_hidden .depth > li {
    color:#fff;
    background:blue;
}
header #lnb .category ul > li .cate_menu_hidden .depth > li .depth2 {
    margin-top:30px;    
    background:red;
}
header #lnb .category ul > li .cate_menu_hidden .depth > li .depth2 > li {}
header #lnb .category ul > li .cate_menu_hidden .depth > li .depth2 > li > a {
    color:#fff; display:block;
    
    background:pink;
}
header #lnb .search {
    width:245px;
    border:1px solid #000; border-radius:30px;
    padding:0 14px;
    display:flex; justify-content:end;
}
header #lnb .search .search_btn {}
header #lnb .search .search_btn img {/* display:block; */}
header .long_banner {
    width:100%; height:30px;
    background:#000;
    position:relative;
    margin-top:10px;
}
header .long_banner a {
    color:#fff;
    height:100%;
    line-height:1.5;
    text-align:center;
    display:block;
}
header .long_banner a span {color:#00FF40;}
header .long_banner .close_btn {
    position:absolute;
    right:0; top:0;
}
header .long_banner .close_btn img {display:block;}
/* -------------------------------배너---------------------------------- */
main {}
main .banner_container {}
main .banner_container .banner {}/* 스와이퍼 */
main .banner_container .banner .swiper-wrapper {
    /* display:flex; flex-flow:row nowrap; gap:30px; */
    /* 아래 문제를 해결했기때문에 js에서 swiper 속성으로 gap 주기 */
}
main .banner_container .banner .swiper-wrapper .swiper_wrap {}
main .banner_container .banner .swiper-wrapper .swiper-slide {}
main .banner_container .banner .swiper-wrapper .swiper-slide a {}
main .banner_container .banner .swiper-wrapper .swiper-slide a img {
    width:100%; /* 아무리 gap을 줘도 배너간의 거리가 안벌어진 이유는 이미지의 크기가 원본 크기로 들어갔기때문이라서 부모의 크기만큼 꽉 채우는 100%값을 줘야함 */
    display:block;
}
main .banner_container .swiper_btn_wrap {
    max-width:1424px; height:20px;
    margin:30px auto 0; padding:5px 0;
    position:relative; /* 스와이퍼 슬라이드,페이지네이션,화살표의 기준으로 설정 */
}
main .banner_container .swiper_btn_wrap .swiper-scrollbar {
    max-width:1200px; height:4px;
}
main .banner_container .swiper_btn_wrap .swiper-scrollbar .swiper-scrollbar-drag {
    width:200px; height:5px;
    background:#1B56FD;
    position:absolute; top:0px;
}
main .banner_container .swiper_btn_wrap .swiper-pagination {
    width:100%;
    top:0; right:30px;
    height:100%;
    display:flex; justify-content:end; align-items:center; gap:3px;
    padding-right:155px;
    font-size:0.75rem;
    line-height:1.5;
}
main .banner_container .swiper_btn_wrap .swiper-pagination .swiper-pagination-current {font-weight:900;}
main .banner_container .swiper_btn_wrap .swiper_arrow_wrap {
    position:absolute; 
    width:60px; height:20px;
    right:65px; top:0;  
}
main .banner_container .swiper_btn_wrap .swiper_arrow_wrap svg {display:none;} /* swiper 기본 화살표 제거 */
main .banner_container .swiper_btn_wrap .swiper_arrow_wrap .swiper-button-prev {width:20px; margin-right:10px;}
main .banner_container .swiper_btn_wrap .swiper_arrow_wrap .swiper-button-prev img {display:block;}
main .banner_container .swiper_btn_wrap .swiper_arrow_wrap .swiper-button-next {width:20px;}
main .banner_container .swiper_btn_wrap .swiper_arrow_wrap .swiper-button-next img {display:block;}
/* -------------------------------스페셜 오더---------------------------------- */
main .special_order_container {
    background:red;
    width:1460px;
    margin:100px auto;
    text-align:center;
}
main .special_order_container h2 {
    font-size:2.5rem;
    font-weight:600;
}
main .special_order_container > a {
    margin:15px 0 50px;
    display:block;
}
main .special_order_container .special_list_wrap {
    background:lime;
    position:relative;
}
main .special_order_container .special_list_wrap .swiper-button-prev {}
main .special_order_container .special_list_wrap .swiper-button-prev svg {display:none;}
main .special_order_container .special_list_wrap .swiper-button-next {}
main .special_order_container .special_list_wrap .swiper-button-next svg {display:none; }
main .special_order_container .special_list_wrap .special_order_wrap {width:1300px; background:pink;}
main .special_order_container .special_list_wrap .special_order_wrap .swiper-wrapper {}
main .special_order_container .special_list_wrap .special_order_wrap .swiper-wrapper .swiper-slide {}
main .special_order_container .special_list_wrap .special_order_wrap .swiper-wrapper .swiper-slide a {width:400px;}
main .special_order_container .special_list_wrap .special_order_wrap .swiper-wrapper .swiper-slide a .special_img {width:100%;}
main .special_order_container .special_list_wrap .special_order_wrap .swiper-wrapper .swiper-slide a .special_img img {width:100%; display:block;}
main .special_order_container .special_list_wrap .special_order_wrap .swiper-wrapper .swiper-slide a .special_content_wrap {text-align:left;}
main .special_order_container .special_list_wrap .special_order_wrap .swiper-wrapper .swiper-slide a .special_content_wrap .special_name {}
main .special_order_container .special_list_wrap .special_order_wrap .swiper-wrapper .swiper-slide a .special_content_wrap .special_name span {}
main .special_order_container .special_list_wrap .special_order_wrap .swiper-wrapper .swiper-slide a .special_content_wrap .special_content {}
main .special_order_container .special_list_wrap .special_order_wrap .swiper-wrapper .swiper-slide a .special_content_wrap .special_content span {}
/* ----------------------------------------------------------------------------------------4행 best */
/* 스와이퍼 */
main .best .best_product_container {position:relative;}
main .best .best_product_container .swiper-wrapper {position:relative;}
main .best .best_product_container .swiper-wrapper .swiper-slide {position:relative;}
main .best .best_product_container .best_btn {
    position:relative; display:flex; align-items:center;
    width:120px; top:0; left:1603px;
    flex-direction: row-reverse;
}
main .best .best_product_container .best_btn .swiper-pagination {
    left:0; top:0; display:flex; align-items:center;
    font-size:0.75rem;
    width:max-content; height:40px;
}
main .best .best_product_container .best_btn .arrow_wrap {
    width:70px; height:40px;
    display:flex; position:relative;
    align-items:center;
}
main .best .best_product_container .best_btn .arrow_wrap .swiper-button-prev {
    width:20px; height:20px;
    display:flex; align-items:center; justify-content:center;
    top:30px;
}
main .best .best_product_container .best_btn .arrow_wrap .swiper-button-next {
    width:20px; height:20px;
    display:flex; align-items:center; justify-content:center;
    top:30px;
}
main .best .best_product_container .best_btn .arrow_wrap .swiper-button-prev::after,
main .best .best_product_container .best_btn .arrow_wrap .swiper-button-next::after {
    display:none !important;
}
/* 내용 */
main .best {max-width:1720px; margin:100px auto 0; text-align:center; position:relative;}
main .best h2 {font-size:2.5rem; font-weight:600;}
main .best > p {margin:15px 0 50px;}
main .best > p img {}
main .best .best_product_container {}
main .best .best_product_container .best_category {display:flex; justify-content:center;}
/* 카테고리 액티브 */
main .best .best_product_container .best_category ul {display:flex;}
main .best .best_product_container .best_category ul li {}
main .best .best_product_container .best_category ul li:hover {filter:brightness(90%);}
main .best .best_product_container .best_category ul li button {padding:10px 20px; background:#eee; border-radius:25px; margin-right:20px;}
main .best .best_product_container .best_category ul .active1 button {background:#000; color:#fff;}
main .best .best_product_container .best_category ul li:nth-child(1) button {}
main .best .best_product_container .best_category ul li:last-child {margin-right:0;}
main .best .best_product_container .best_btn p {font-size:0.75rem;}
main .best .best_product_container .best_btn p span {font-weight:900;}
main .best .best_product_container .best_btn p button {}
main .best .best_product_container .best_btn .prev_btn {margin:0 20px;}
main .best .best_product_container .best_btn .prev_btn img {}
main .best .best_product_container .best_btn .next_btn {}
main .best .best_product_container .best_btn .next_btn img {}
/* best 상품 */
main .best .best_product_container .best_swiper {display:flex; clear:both;}
main .best .best_product_container .best_swiper .best_wrap_show { /* overflow:hidden; */}
main .best .best_product_container .best_swiper .best_wrap_show .best_wrap {}
main .best .best_product_container .best_swiper .best_wrap_show .best_wrap .best_product_wrap {/* 베스트 탑 바텀텀 */display:flex;}
main .best .best_product_container .best_swiper .best_wrap_show .best_wrap .best_product_wrap .best_product:hover {filter:brightness(90%);}
main .best .best_product_container .best_swiper .best_wrap_show .best_wrap .best_top {margin-bottom:50px;}
/* 모든 상품 색상 버튼 */
main .best .best_product_container .best_swiper .best_wrap_show .best_wrap .best_product_wrap .best_product .best_product_color { margin-top:10px;}
main .best .best_product_container .best_swiper .best_wrap_show .best_wrap .best_product_wrap .best_product .best_product_color span {
    width:16px; height:16px; 
    border-radius:50%; display:inline-block;
}
/* 개별 상품 색상 버튼 */
/* 01 */
main .best .best_product_container .best_swiper .best_wrap_show .best_wrap .best_product_wrap .best_product01 .best_product_color span:nth-child(1) {background:#F4F0E7;}
main .best .best_product_container .best_swiper .best_wrap_show .best_wrap .best_product_wrap .best_product01 .best_product_color span:nth-child(2) {background:#56523E;}
main .best .best_product_container .best_swiper .best_wrap_show .best_wrap .best_product_wrap .best_product01 .best_product_color span:nth-child(3) {background:#50607A;}
main .best .best_product_container .best_swiper .best_wrap_show .best_wrap .best_product_wrap .best_product01 .best_product_color span:nth-child(4) {background:#DFD6AD;}
main .best .best_product_container .best_swiper .best_wrap_show .best_wrap .best_product_wrap .best_product01 .best_product_color span:nth-child(5) {background:#97BDC8;}
main .best .best_product_container .best_swiper .best_wrap_show .best_wrap .best_product_wrap .best_product01 .best_product_color span:nth-child(6) {background:#5C4138;}
/* 02 */
main .best .best_product_container .best_swiper .best_wrap_show .best_wrap .best_product_wrap .best_product02 .best_product_color span:nth-child(1) {background:#ECECEC;}
main .best .best_product_container .best_swiper .best_wrap_show .best_wrap .best_product_wrap .best_product02 .best_product_color span:nth-child(2) {background:#546076;}
main .best .best_product_container .best_swiper .best_wrap_show .best_wrap .best_product_wrap .best_product02 .best_product_color span:nth-child(3) {background:#A5948C;}
main .best .best_product_container .best_swiper .best_wrap_show .best_wrap .best_product_wrap .best_product02 .best_product_color span:nth-child(4) {background:#4D4D4D;}
main .best .best_product_container .best_swiper .best_wrap_show .best_wrap .best_product_wrap .best_product02 .best_product_color span:nth-child(5) {background:#BCA7C4;}
main .best .best_product_container .best_swiper .best_wrap_show .best_wrap .best_product_wrap .best_product02 .best_product_color span:nth-child(6) {background:#EADC9D;}
/* 03 */
main .best .best_product_container .best_swiper .best_wrap_show .best_wrap .best_product_wrap .best_product03 .best_product_color span:nth-child(1) {background:#434454;}
/* 04 */
main .best .best_product_container .best_swiper .best_wrap_show .best_wrap .best_product_wrap .best_product04 .best_product_color span:nth-child(1) {background:#BECBDE;}
main .best .best_product_container .best_swiper .best_wrap_show .best_wrap .best_product_wrap .best_product04 .best_product_color span:nth-child(2) {background:#D4D4D6;}
main .best .best_product_container .best_swiper .best_wrap_show .best_wrap .best_product_wrap .best_product04 .best_product_color span:nth-child(3) {background:#CFD8DF;}
main .best .best_product_container .best_swiper .best_wrap_show .best_wrap .best_product_wrap .best_product04 .best_product_color span:nth-child(4) {background:#ADC2DD;}
main .best .best_product_container .best_swiper .best_wrap_show .best_wrap .best_product_wrap .best_product04 .best_product_color span:nth-child(5) {background:#E5D8C6;}
main .best .best_product_container .best_swiper .best_wrap_show .best_wrap .best_product_wrap .best_product04 .best_product_color span:nth-child(6) {background:#D4CCC1;}
/* 05 */
main .best .best_product_container .best_swiper .best_wrap_show .best_wrap .best_product_wrap .best_product05 .best_product_color span:nth-child(1) {background:#F8F8F8;}
main .best .best_product_container .best_swiper .best_wrap_show .best_wrap .best_product_wrap .best_product05 .best_product_color span:nth-child(2) {background:#EFEEE8;}
main .best .best_product_container .best_swiper .best_wrap_show .best_wrap .best_product_wrap .best_product05 .best_product_color span:nth-child(3) {background:#CBCBCA;}
main .best .best_product_container .best_swiper .best_wrap_show .best_wrap .best_product_wrap .best_product05 .best_product_color span:nth-child(4) {background:#FEC263;}
main .best .best_product_container .best_swiper .best_wrap_show .best_wrap .best_product_wrap .best_product05 .best_product_color span:nth-child(5) {background:#FDBDB1;}
main .best .best_product_container .best_swiper .best_wrap_show .best_wrap .best_product_wrap .best_product05 .best_product_color span:nth-child(6) {background:#DA6B2A;}
/* 06 */
main .best .best_product_container .best_swiper .best_wrap_show .best_wrap .best_product_wrap .best_product06 .best_product_color span:nth-child(1) {background:#373E50;}
main .best .best_product_container .best_swiper .best_wrap_show .best_wrap .best_product_wrap .best_product06 .best_product_color span:nth-child(2) {background:#5F5A46;}
main .best .best_product_container .best_swiper .best_wrap_show .best_wrap .best_product_wrap .best_product06 .best_product_color span:nth-child(3) {background:#222224;}
/* 07 */
main .best .best_product_container .best_swiper .best_wrap_show .best_wrap .best_product_wrap .best_product07 .best_product_color span:nth-child(1) {background:#F3E7E3;}
main .best .best_product_container .best_swiper .best_wrap_show .best_wrap .best_product_wrap .best_product07 .best_product_color span:nth-child(2) {background:#415777;}
main .best .best_product_container .best_swiper .best_wrap_show .best_wrap .best_product_wrap .best_product07 .best_product_color span:nth-child(3) {background:#6C6A6B;}
main .best .best_product_container .best_swiper .best_wrap_show .best_wrap .best_product_wrap .best_product07 .best_product_color span:nth-child(4) {background:#6C6A6B;}
main .best .best_product_container .best_swiper .best_wrap_show .best_wrap .best_product_wrap .best_product07 .best_product_color span:nth-child(5) {background:#27262C;}
main .best .best_product_container .best_swiper .best_wrap_show .best_wrap .best_product_wrap .best_product07 .best_product_color span:nth-child(6) {background:#E2D4DC;}
main .best .best_product_container .best_swiper .best_wrap_show .best_wrap .best_product_wrap .best_product07 .best_product_color span:nth-child(7) {}
main .best .best_product_container .best_swiper .best_wrap_show .best_wrap .best_product_wrap .best_product07 .best_product_color span:nth-child(8) {}
/* 08 */
main .best .best_product_container .best_swiper .best_wrap_show .best_wrap .best_product_wrap .best_product08 .best_product_color span:nth-child(1) {background:#202020;}
main .best .best_product_container .best_swiper .best_wrap_show .best_wrap .best_product_wrap .best_product08 .best_product_color span:nth-child(2) {background:#4D4F51;}
main .best .best_product_container .best_swiper .best_wrap_show .best_wrap .best_product_wrap .best_product08 .best_product_color span:nth-child(3) {background:#CDCCD4;}
main .best .best_product_container .best_swiper .best_wrap_show .best_wrap .best_product_wrap .best_product08 .best_product_color span:nth-child(4) {background:#E3D7A1;}
main .best .best_product_container .best_swiper .best_wrap_show .best_wrap .best_product_wrap .best_product08 .best_product_color span:nth-child(5) {background:#ADAFC7;}
main .best .best_product_container .best_swiper .best_wrap_show .best_wrap .best_product_wrap .best_product08 .best_product_color span:nth-child(6) {background:#B9B8BE;}
/* 상품 안 자식들 */
main .best .best_product_container .best_swiper .best_wrap_show .best_wrap .best_product_wrap .best_product {margin-right:40px;}
main .best .best_product_container .best_swiper .best_wrap_show .best_wrap .best_product_wrap .best_product:last-child {margin-right:0;}
main .best .best_product_container .best_swiper .best_wrap_show .best_wrap .best_product_wrap .best_product a {}
main .best .best_product_container .best_swiper .best_wrap_show .best_wrap .best_product_wrap .best_product a img {}
main .best .best_product_container .best_swiper .best_wrap_show .best_wrap .best_product_wrap .best_product .best_content {text-align:left;}
main .best .best_product_container .best_swiper .best_wrap_show .best_wrap .best_product_wrap .best_product .best_content > p {margin-bottom:10px;}
main .best .best_product_container .best_swiper .best_wrap_show .best_wrap .best_product_wrap .best_product .best_content p:last-child {margin-bottom:0;}
main .best .best_product_container .best_swiper .best_wrap_show .best_wrap .best_product_wrap .best_product .best_content .best_brand {display:flex; justify-content:space-between; align-items:center;}
main .best .best_product_container .best_swiper .best_wrap_show .best_wrap .best_product_wrap .best_product .best_content .best_brand a {font-size:0.875rem;}
main .best .best_product_container .best_swiper .best_wrap_show .best_wrap .best_product_wrap .best_product .best_content .best_brand a button {}
main .best .best_product_container .best_swiper .best_wrap_show .best_wrap .best_product_wrap .best_product .best_content .best_brand a button img {}
main .best .best_product_container .best_swiper .best_wrap_show .best_wrap .best_product_wrap .best_product .best_content .best_product_name {font-weight:600;}
main .best .best_product_container .best_swiper .best_wrap_show .best_wrap .best_product_wrap .best_product .best_content .best_product_price_before {}
main .best .best_product_container .best_swiper .best_wrap_show .best_wrap .best_product_wrap .best_product .best_content .best_product_price_before del {font-size:0.875rem; font-weight:600; color:#aaa; color:#aaa;}
main .best .best_product_container .best_swiper .best_wrap_show .best_wrap .best_product_wrap .best_product .best_content .best_product_price_sale_wrap {display:flex; gap:20px; align-items:center;}
main .best .best_product_container .best_swiper .best_wrap_show .best_wrap .best_product_wrap .best_product .best_content .best_product_price_sale_wrap .best_product_price_sale {font-weight:600; color:#FF4800;}
main .best .best_product_container .best_swiper .best_wrap_show .best_wrap .best_product_wrap .best_product .best_content .best_product_price {}
main .best .best_product_container .best_swiper .best_wrap_show .best_wrap .best_product_wrap .best_product .best_content .best_product_price {font-weight:600;}
main .best .best_product_container .best_swiper .best_wrap_show .best_wrap .best_product_wrap .best_product .best_content .small_tag{
    font-size:0.625rem; padding:3px 5px; background:#ddd;
    width:max-content; height:max-content;
}
main * .widthlist_plus img {}
main .best .best_product_container .best_swiper .best_wrap_show .best_wrap .best_product_wrap .best_product .best_content .best_product_color {display:flex; align-items:center; gap:10px;}
main .best .best_product_container .best_swiper .best_wrap_show .best_wrap .best_product_wrap .best_product .best_content .best_product_color .best_product_color_change {}
main .best .best_product_container .best_swiper .best_wrap_show .best_wrap .best_bottom {}