header {}
header #gnb {
    max-width:1720px;
    margin:0 auto;
    padding-top:10px;
}
header #gnb .top_menu {}
header #gnb .top_menu ul {
    display:flex; flex-flow:row nowrap; gap:20px;
    justify-content:end;
}
header #gnb .top_menu ul li {}
header #gnb .top_menu ul li a {}
header #gnb .buttom_menu {
    display:flex; flex-flow:row nowrap; justify-content:space-between; align-items:center;
    padding:10px 0;
    font-size:0.75rem;
}
header #gnb .buttom_menu #logo {}
header #gnb .buttom_menu #logo h1 {}
header #gnb .buttom_menu #logo h1 a {}
header #gnb .buttom_menu #logo h1 a img {display:block;}
header #gnb .buttom_menu .right_menu {}
header #gnb .buttom_menu .right_menu ul {
    display:flex; flex-flow:row nowrap; gap:20px;
}
header #gnb .buttom_menu .right_menu ul li {}
header #gnb .buttom_menu .right_menu ul li a {}
header #gnb .buttom_menu .right_menu ul li a img {display:block;}
header #lnb {
    max-width:1720px;
    margin:0 auto;
    display:flex; flex-flow:row nowrap; justify-content:space-between; align-items:center;
}
header #lnb .category {}
header #lnb .category > ul {display:flex; align-items:center; gap:30px;}
header #lnb .category ul .more_btn {}
header #lnb .category ul > li {}
header #lnb .category ul > li:first-child { /* depth의 기준 설정 */
    position:relative;
}
header #lnb .category ul > li:nth-child(2) {}
header #lnb .category ul > li button {display:block; font-weight:500;}
header #lnb .category ul > li button img {display:block;}
/* 숨어있는 메뉴 */
header #lnb .category ul > li .cate_menu_hidden {
    position:absolute; top:40px; left:0;
    z-index:999;
    background:#000;
    width:max-content;
    padding:30px;
    display:none;
}
header #lnb .category ul > li .cate_menu_hidden .depth {
    display:flex; flex-flow:row nowrap; gap:100px;
}
header #lnb .category ul > li .cate_menu_hidden .depth > li {
    color:#fff;
    background:blue;
}
header #lnb .category ul > li .cate_menu_hidden .depth > li .depth2 {
    margin-top:30px;    
    background:red;
}
header #lnb .category ul > li .cate_menu_hidden .depth > li .depth2 > li {}
header #lnb .category ul > li .cate_menu_hidden .depth > li .depth2 > li > a {
    color:#fff; display:block;
    
    background:pink;
}
header #lnb .search {
    width:245px;
    border:1px solid #000; border-radius:30px;
    padding:0 14px;
    display:flex; justify-content:end;
}
header #lnb .search .search_btn {}
header #lnb .search .search_btn img {/* display:block; */}
header .long_banner {
    width:100%; height:30px;
    background:#000;
    position:relative;
    margin-top:10px;
}
header .long_banner a {
    color:#fff;
    height:100%;
    line-height:1.5;
    text-align:center;
    display:block;
}
header .long_banner a span {color:#00FF40;}
header .long_banner .close_btn {
    position:absolute;
    right:0; top:0;
}
header .long_banner .close_btn img {display:block;}
/* -------------------------------배너---------------------------------- */
main {}
main .banner_container {}
main .banner_container .banner {}/* 스와이퍼 */
main .banner_container .banner .swiper-wrapper {
    /* display:flex; flex-flow:row nowrap; gap:30px; */
    /* 아래 문제를 해결했기때문에 js에서 swiper 속성으로 gap 주기 */
}
main .banner_container .banner .swiper-wrapper .swiper_wrap {}
main .banner_container .banner .swiper-wrapper .swiper-slide {}
main .banner_container .banner .swiper-wrapper .swiper-slide a {}
main .banner_container .banner .swiper-wrapper .swiper-slide a img {
    width:100%; /* 아무리 gap을 줘도 배너간의 거리가 안벌어진 이유는 이미지의 크기가 원본 크기로 들어갔기때문이라서 부모의 크기만큼 꽉 채우는 100%값을 줘야함 */
    display:block;
}
main .banner_container .swiper_btn_wrap {
    max-width:1424px; height:20px;
    margin:30px auto 0; padding:5px 0;
    position:relative; /* 스와이퍼 슬라이드,페이지네이션,화살표의 기준으로 설정 */
}
main .banner_container .swiper_btn_wrap .swiper-scrollbar {
    max-width:1200px; height:4px;
}
main .banner_container .swiper_btn_wrap .swiper-scrollbar .swiper-scrollbar-drag {
    width:200px; height:5px;
    background:#1B56FD;
    position:absolute; top:0px;
}
main .banner_container .swiper_btn_wrap .swiper-pagination {
    width:100%;
    top:0; right:30px;
    height:100%;
    display:flex; justify-content:end; align-items:center; gap:3px;
    padding-right:155px;
    font-size:0.75rem;
    line-height:1.5;
}
main .banner_container .swiper_btn_wrap .swiper-pagination .swiper-pagination-current {font-weight:900;}
main .banner_container .swiper_btn_wrap .swiper_arrow_wrap {
    position:absolute; 
    width:60px; height:20px;
    right:65px; top:0;  
}
main .banner_container .swiper_btn_wrap .swiper_arrow_wrap svg {display:none;} /* swiper 기본 화살표 제거 */
main .banner_container .swiper_btn_wrap .swiper_arrow_wrap .swiper-button-prev {width:20px; margin-right:10px;}
main .banner_container .swiper_btn_wrap .swiper_arrow_wrap .swiper-button-prev img {display:block;}
main .banner_container .swiper_btn_wrap .swiper_arrow_wrap .swiper-button-next {width:20px;}
main .banner_container .swiper_btn_wrap .swiper_arrow_wrap .swiper-button-next img {display:block;}
/* -------------------------------스페셜 오더---------------------------------- */
main .special_order_container {
    background:red;
    width:1460px;
    margin:100px auto;
    text-align:center;
}
main .special_order_container h2 {
    font-size:2.5rem;
    font-weight:600;
}
main .special_order_container > a {
    margin:15px 0 50px;
    display:block;
}
main .special_order_container .special_list_wrap {
    background:lime;
    position:relative;
}
main .special_order_container .special_list_wrap .swiper-button-prev {}
main .special_order_container .special_list_wrap .swiper-button-prev svg {display:none;}
main .special_order_container .special_list_wrap .swiper-button-next {}
main .special_order_container .special_list_wrap .swiper-button-next svg {display:none; }
main .special_order_container .special_list_wrap .special_order_wrap {width:1300px; background:pink;}
main .special_order_container .special_list_wrap .special_order_wrap .swiper-wrapper {}
main .special_order_container .special_list_wrap .special_order_wrap .swiper-wrapper .swiper-slide {}
main .special_order_container .special_list_wrap .special_order_wrap .swiper-wrapper .swiper-slide a {width:400px;}
main .special_order_container .special_list_wrap .special_order_wrap .swiper-wrapper .swiper-slide a .special_img {width:100%;}
main .special_order_container .special_list_wrap .special_order_wrap .swiper-wrapper .swiper-slide a .special_img img {width:100%; display:block;}
main .special_order_container .special_list_wrap .special_order_wrap .swiper-wrapper .swiper-slide a .special_content_wrap {text-align:left;}
main .special_order_container .special_list_wrap .special_order_wrap .swiper-wrapper .swiper-slide a .special_content_wrap .special_name {}
main .special_order_container .special_list_wrap .special_order_wrap .swiper-wrapper .swiper-slide a .special_content_wrap .special_name span {}
main .special_order_container .special_list_wrap .special_order_wrap .swiper-wrapper .swiper-slide a .special_content_wrap .special_content {}
main .special_order_container .special_list_wrap .special_order_wrap .swiper-wrapper .swiper-slide a .special_content_wrap .special_content span {}